#simContainer {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    overflow: hidden;
}

#controlContainer {
    width: 100%;
    height: 10%;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#connectionViewer, #propertyViewer {
    width: 15%;
    height: 90%;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.controlButton {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rangeVis {
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 1000;
    opacity: 0.2;
    background-color: red;
    pointer-events: none;
}

#controlButtons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    gap: 10px;
}

#simToggles {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    gap: 10px;
}

#simpleSettingsContent, #engineSettingsContent, #hardwareConstraintsContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

#simpleSettings, #hardwareConstraints, #engineSettings {
    margin-bottom: 10px;
}

#randomGraphModal, #warningModal {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}

#warningModalContent {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ffee00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#randomGraphModalContent {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#createRandomGraphConfirm {
    margin-top: 10px;
}